In this notebook I'll wrangle the data for my capstone 2 project.

In [5]:
#imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

from library.sb_utils import save_file

ModuleNotFoundError: No module named 'library'

Next I'll upload my data. My primary source is the district snapshot. This dataset is highly descriptive but lacks readability so I'll likely have to take a look at if all the information contained is relevant. I'll also upload a more descriptive dataset of teacher salaries and private school information. I'll go through the data to make sure there are no issues and then join it into one dataframe.

In [2]:
wdir = os.getcwd()
print(wdir)

C:\Users\Armstrongs

In [3]:
directories = os.listdir()
print(directories)

['.android', '.bash_history', '.cache', '.conda', '.condarc', '.continuum', '.cookiecutters', '.git', '.gitconfig', '.ipynb_checkpoints', '.ipython', '.jupyter', '.lesshst', '.matplotlib', '.Origin', '.QtWebEngineProcess', '.spyder-py3', '.viminfo', '3D Objects', 'anaconda3', 'ansel', 'AppData', 'Application Data', 'Capstone 2 Data Wrangling.ipynb', 'Contacts', 'Cookies', 'Creative Cloud Files', 'Desktop', 'Documents', 'Downloads', 'Favorites', 'Jedi', 'Links', 'Local Settings', 'MicrosoftEdgeBackups', 'Music', 'My Documents', 'NetHood', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{19cb7435-928d-11eb-a57e-c809a894033a}.TM.blf', 'NTUSER.DAT{19cb7435-928d-11eb-a57e-c809a894033a}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{19cb7435-928d-11eb-a57e-c809a894033a}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'OneDrive', 'pandas-profiling-3.0.0.tar.gz', 'Pictures', 'PrintHood', 'Recent', 'Saved Games', 'Searches', 'SendTo', 'Start Menu', 'Templates', 'Tracing', 'Untitled.ipynb', 'Videos']

In [4]:
os.chdir('Desktop\SpringboardProjects\capstone2\data_final')

In [5]:
wdir = os.getcwd()
print(wdir)

C:\Users\Armstrongs\Desktop\SpringboardProjects\capstone2\data_final

In [6]:
#C:\Users\Armstrongs\Desktop\SpringboardProjects\capstone2\data_final

In [7]:
snapshot2019 = pd.read_csv('district_summary.csv')

In [8]:
print(type(snapshot2019))

<class 'pandas.core.frame.DataFrame'>

In [9]:
snapshot2019.head()

,DISTNAME,DISTRICT,DZCNTYNM,REGION,DZRATING,DZCAMPUS,DPETALLC,DPETBLAP,DPETHISP,DPETWHIP,...,DPFPAVOCP,DPFPAGIFP,DPFPAATHP,DPFPAHSAP,DPFPREKP,DPFPAOTHP,DISTSIZE,COMMTYPE,PROPWLTH,TAXRATE
0,CAYUGA ISD,1902,001 ANDERSON,7,A,3,564,3.5,6.7,84.8,...,2.8,0.1,3.6,0.6,0.3,20.8,500 to 999,Rural,"$442,675 to < $456,961",Under $1.1701
1,ELKHART ISD,1903,001 ANDERSON,7,A,5,1254,5.4,11.3,78.1,...,7.8,0.1,3.4,1,0,25.7,"1,000 to 1,599",Non-metropolitan Stable,"$164,221 to < $208,918",$1.3050 to under $1.4272
2,FRANKSTON ISD,1904,001 ANDERSON,7,B,3,803,8.2,8.2,78.2,...,6.9,0.1,7.3,1,1.1,28.2,500 to 999,Rural,"$272,534 to < $299,260",$1.4272 and over
3,NECHES ISD,1906,001 ANDERSON,7,A,2,366,8.5,13.9,73.2,...,4,0.3,0,1.2,0.5,35.1,Under 500,Rural,"$272,534 to < $299,260",$1.4272 and over
4,PALESTINE ISD,1907,001 ANDERSON,7,B,6,3389,26.6,41.2,27.5,...,3.9,0.2,3.4,0.7,2.1,28.3,"3,000 to 4,999",Independent Town,"$299,260 to < $316,695",$1.4272 and over

In [10]:
snapshotcolnames = ['DISTNAME',
'DISTRICT',
'DZCNTYNM',
'REGION',
'DZRATING',
'DZCAMPUS',
'total students',
'4. Students % African American: ',
'5. Students % Hispanic: ',
'6. Students % White:' ,
'7. Students % American Indian:' ,
'8. Students % Asian:',
'9. Students % Pacific Islander:' ,
'10. Students % Two or More Races:',
'11. Students % Economically Disadvantaged:',
'12. Students % English Learners (EL):' ,
'13. Students % Special Education:' ,
'14. Students % Bilingual/ESL Education:' ,
'15. Students % Career and Technical Education:',
'16. Students % Gifted and Talented Education:' ,
'17. Attendance Rate (2017-18):' ,
'18. Annual Dropout Rate Gr. 9-12 (2017-18):' ,
'19. 4-Year Longitudinal Graduation Rate (Class of 2018):',
'20. 5-Year Longitudinal Graduation Rate (Class of 2017):',
'21. 6-Year Longitudinal Graduation Rate (Class of 2016):',
'22. Annual Graduate Count (2017-18):',
'23. Annual RHSP/DAP/FHSP-E/FHSP-DLA Graduate Count (2017-18):',
'staar all subjects approach',
'staar all subjects meet',
'staar all subjects master',
'staar elar approach',
'staar elar meets',
'staar elar master',
'staar write approach',
'staar write meet',
'staar write master',
'staar math approach',
'staar math meet',
'staar math master',
'staar science approach',
'staar science meet',
'staar science master',
'staar social approach',
'staar social meet',
'staar social master',
'staar african approach',
'staar african meet',
'staar african master',
'staar hispanic approach',
'staar hispanic meet',
'staar hispanic master',
'staar white approach',
'staar white meet',
'staar white master',
'staar native approach',
'staar native meet',
'staar native master',
'staar asian approach',
'staar asian meet',
'staar asian master',
'staar pacific approach',
'staar pacific meet',
'staar pacific master',
'2+ race approach',
'2+ race meet',
'2+ race master',
'econ disad approach',
'econ disad meet',
'econ disad master',
'38. SAT/ACT Results - % Tested (2017-2018):' ,
'39. SAT/ACT Results - % At or Above Criterion (2017-2018): ',
'40. SAT - Average Score (2017-2018):' ,
'41. ACT - Average Score (2017-2018):',
'42. Total Staff FTE:' ,
'43. Total Teacher FTE: ',
'44. Staff % Central Administration:' ,
'45. Staff % Campus Administration:' ,
'46. Staff % Professional Support:' ,
'47. Staff % Teachers:',
'48. Staff % Educational Aides:' ,
'49. Staff % Auxiliary:' ,
'50. Average Central Administrative Salary:' ,
'51. Average Campus Administrative Salary:',
'52. Average Professional Support Staff Salary:',
'53. Average Teacher Salary:' ,
'54. Staff % Minority:' ,
'55. Number of Students Per Total Staff: ',
'56. Number of Students Per Teacher:' ,
'57. Teacher % With 5 or Fewer Years of Experience: ',
'58. Teacher Average Years of Experience:' ,
'59. Teacher % With Advanced Degrees:',
'60. Teacher Turnover Rate:' ,
'61. Teacher % African American:',
'62. Teacher % Hispanic:' ,
'63. Teacher % White:' ,
'64. Teacher % Other:' ,
'65. Teacher % Regular Education:' ,
'66. Teacher % Special Education:',
'67. Teacher % Compensatory Education:' ,
'68. Teacher % Bilingual/ESL Education:' ,
'69. Teacher % Career and Technical Education:' ,
'70. Teacher % Other Education (Includes Gifted and Talented):' ,
'71. Taxable Value Per Pupil (2016 Tax Year):' ,
'72. Locally Adopted Tax Rate (2017 Tax Year):' ,
'73. Total Operating and Other Revenue (2017-18):',
'74. Total Operating and Other Revenue Per Pupil:' ,
'75. Total Operating Revenue (2017-18):' ,
'76. Operating Revenue % State:' ,
'77. Operating Revenue % Local and Other:',
'78. Operating Revenue % Federal:' ,
'79. Total Other Revenue (2017-18):' ,
'80. Fund Balance (For ISDs):' ,
'81. Net Assets (Charter Schools):' ,
'82. Total Actual Expenditures (2017-18): ',
'83. Total Actual Operating Expenditures (2017-18):' ,
'84. Total Actual Operating Expenditures Per Pupil:',
'85. Expenditure % Instructional:' ,
'86. Expenditure % Central Administrative: ',
'87. Expenditure % School Leadership:' ,
'88. Expenditure % Plant Services: ',
'89. Expenditure % Other Operating:' ,
'90. Total Actual Instructional Expenditures (2017-2018):' ,
'91. Total Actual Instructional Expenditures Per Pupil:',
'92. Expenditures % Basic Education Services: ',
'93. Expenditures % Special Education:',
'94. Expenditures % State Compensatory Education:',
'95. Expenditures % Bilingual/ESL Education:',
'96. Expenditures % Career and Technical Education:' ,
'97. Expenditures % Gifted and Talented Education:',
'98. Expenditures % Athletics/Related Activities:' ,
'99. Expenditures % High School Allotment:',
'100. Expenditures % Prekindergarten:',
'101. Expenditures % Un-Allocated:',
'DISTSIZE',
'COMMTYPE',
'PROPWLTH',
'TAXRATE',
                   ]

In [11]:
codedcolnames = [code for code in snapshot2019.columns]

In [12]:
#I want to make sure that the new column names match the values for the dataframe exactly. They should be the same length. 
print(len(snapshotcolnames))
print(len(codedcolnames))

137
137

In [13]:
valuesdict = {}
for key in snapshotcolnames:
    for value in codedcolnames:
        valuesdict[key] = value
        #codedcolnames.remove(value)
        break

In [14]:
valuesdict['staar all subjects approach']

'DISTNAME'

In [15]:
#Examine district of interest
cleburne = snapshot2019[snapshot2019['DISTNAME'] == 'CLEBURNE ISD'].T
cleburne

                                   669
DISTNAME                  CLEBURNE ISD
DISTRICT                        126903
DZCNTYNM                   126 JOHNSON
REGION                              11
DZRATING                             C
...                                ...
DPFPAOTHP                         25.9
DISTSIZE                5,000 to 9,999
COMMTYPE   Other Central City Suburban
PROPWLTH        $355,684 to < $378,489
TAXRATE               $1.4272 and over

[137 rows x 1 columns]

In [16]:
#It looks like there is no missing data for Cleburne ISD
[datapoint for datapoint in list(cleburne.iloc[:,0]) if datapoint == '.']

[]

In [17]:
snapshotcolnames[:8]

['DISTNAME',
 'DISTRICT',
 'DZCNTYNM',
 'REGION',
 'DZRATING',
 'DZCAMPUS',
 'total students',
 '4. Students % African American: ']

In [19]:
colnames = [i for i in snapshot2019.columns]
colnames[:8]

['DISTNAME',
 'DISTRICT',
 'DZCNTYNM',
 'REGION',
 'DZRATING',
 'DZCAMPUS',
 'DPETALLC',
 'DPETBLAP']

In [23]:
#I want to rename my columns to be more readable. 

renamecolumns = {}
snapshotcolnames2 = snapshotcolnames
for k in colnames:
    for v in snapshotcolnames2:
        renamecolumns[k] = v
        snapshotcolnames2.remove(v)
        break

In [24]:
renamecolumns

{'DISTRICT': 'DISTNAME',
 'DZCNTYNM': 'DISTRICT',
 'REGION': 'DZCNTYNM',
 'DZRATING': 'REGION',
 'DZCAMPUS': 'DZRATING',
 'DPETALLC': 'DZCAMPUS',
 'DPETBLAP': 'total students',
 'DPETHISP': '4. Students % African American: ',
 'DPETWHIP': '5. Students % Hispanic: ',
 'DPETINDP': '6. Students % White:',
 'DPETASIP': '7. Students % American Indian:',
 'DPETPCIP': '8. Students % Asian:',
 'DPETTWOP': '9. Students % Pacific Islander:',
 'DPETECOP': '10. Students % Two or More Races:',
 'DPETLEPP': '11. Students % Economically Disadvantaged:',
 'DPETSPEP': '12. Students % English Learners (EL):',
 'DPETBILP': '13. Students % Special Education:',
 'DPETVOCP': '14. Students % Bilingual/ESL Education:',
 'DPETGIFP': '15. Students % Career and Technical Education:',
 'DA0AT18R': '16. Students % Gifted and Talented Education:',
 'DA0912DR18R': '17. Attendance Rate (2017-18):',
 'DAGC4X18R': '18. Annual Dropout Rate Gr. 9-12 (2017-18):',
 'DAGC5X17R': '19. 4-Year Longitudinal Graduation Rate (Class of 2018):',
 'DAGC6X16R': '20. 5-Year Longitudinal Graduation Rate (Class of 2017):',
 'DA0GR18N': '21. 6-Year Longitudinal Graduation Rate (Class of 2016):',
 'DA0GS18N': '22. Annual Graduate Count (2017-18):',
 'DDA00A001S19R': '23. Annual RHSP/DAP/FHSP-E/FHSP-DLA Graduate Count (2017-18):',
 'DDA00A001219R': 'staar all subjects approach',
 'DDA00A001319R': 'staar all subjects meet',
 'DDA00AR01S19R': 'staar all subjects master',
 'DDA00AR01219R': 'staar elar approach',
 'DDA00AR01319R': 'staar elar meets',
 'DDA00AW01S19R': 'staar elar master',
 'DDA00AW01219R': 'staar write approach',
 'DDA00AW01319R': 'staar write meet',
 'DDA00AM01S19R': 'staar write master',
 'DDA00AM01219R': 'staar math approach',
 'DDA00AM01319R': 'staar math meet',
 'DDA00AC01S19R': 'staar math master',
 'DDA00AC01219R': 'staar science approach',
 'DDA00AC01319R': 'staar science meet',
 'DDA00AS01S19R': 'staar science master',
 'DDA00AS01219R': 'staar social approach',
 'DDA00AS01319R': 'staar social meet',
 'DDB00A001S19R': 'staar social master',
 'DDB00A001219R': 'staar african approach',
 'DDB00A001319R': 'staar african meet',
 'DDH00A001S19R': 'staar african master',
 'DDH00A001219R': 'staar hispanic approach',
 'DDH00A001319R': 'staar hispanic meet',
 'DDW00A001S19R': 'staar hispanic master',
 'DDW00A001219R': 'staar white approach',
 'DDW00A001319R': 'staar white meet',
 'DDI00A001S19R': 'staar white master',
 'DDI00A001219R': 'staar native approach',
 'DDI00A001319R': 'staar native meet',
 'DD300A001S19R': 'staar native master',
 'DD300A001219R': 'staar asian approach',
 'DD300A001319R': 'staar asian meet',
 'DD400A001S19R': 'staar asian master',
 'DD400A001219R': 'staar pacific approach',
 'DD400A001319R': 'staar pacific meet',
 'DD200A001S19R': 'staar pacific master',
 'DD200A001219R': '2+ race approach',
 'DD200A001319R': '2+ race meet',
 'DDE00A001S19R': '2+ race master',
 'DDE00A001219R': 'econ disad approach',
 'DDE00A001319R': 'econ disad meet',
 'DA0CT18R': 'econ disad master',
 'DA0CC18R': '38. SAT/ACT Results - % Tested (2017-2018):',
 'DA0CSA18R': '39. SAT/ACT Results - % At or Above Criterion (2017-2018): ',
 'DA0CAA18R': '40. SAT - Average Score (2017-2018):',
 'DPSATOFC': '41. ACT - Average Score (2017-2018):',
 'DPSTTOFC': '42. Total Staff FTE:',
 'DPSCTOFP': '43. Total Teacher FTE: ',
 'DPSSTOFP': '44. Staff % Central Administration:',
 'DPSUTOFP': '45. Staff % Campus Administration:',
 'DPSTTOFP': '46. Staff % Professional Support:',
 'DPSETOFP': '47. Staff % Teachers:',
 'DPSXTOFP': '48. Staff % Educational Aides:',
 'DPSCTOSA': '49. Staff % Auxiliary:',
 'DPSSTOSA': '50. Average Central Administrative Salary:',
 'DPSUTOSA': '51. Average Campus Administrative Salary:',
 'DPSTTOSA': '52. Average Professional Support Staff Salary:',
 'DPSAMIFP': '53. Average Teacher Salary:',
 'DPSAKIDR': '54. Staff % Minority:',
 'DPSTKIDR': '55. Number of Students Per Total Staff: ',
 'DPST05FP': '56. Number of Students Per Teacher:',
 'DPSTEXPA': '57. Teacher % With 5 or Fewer Years of Experience: ',
 'DPSTADFP': '58. Teacher Average Years of Experience:',
 'DPSTURNR': '59. Teacher % With Advanced Degrees:',
 'DPSTBLFP': '60. Teacher Turnover Rate:',
 'DPSTHIFP': '61. Teacher % African American:',
 'DPSTWHFP': '62. Teacher % Hispanic:',
 'DPSTO2FP': '63. Teacher % White:',
 'DPSTREFP': '64. Teacher % Other:',
 'DPSTSPFP': '65. Teacher % Regular Education:',
 'DPSTCOFP': '66. Teacher % Special Education:',
 'DPSTBIFP': '67. Teacher % Compensatory Education:',
 'DPSTVOFP': '68. Teacher % Bilingual/ESL Education:',
 'DPSTGOFP': '69. Teacher % Career and Technical Education:',
 'DPFVTOTK': '70. Teacher % Other Education (Includes Gifted and Talented):',
 'DPFTADPR': '71. Taxable Value Per Pupil (2016 Tax Year):',
 'DPFRAALLT': '72. Locally Adopted Tax Rate (2017 Tax Year):',
 'DPFRAALLK': '73. Total Operating and Other Revenue (2017-18):',
 'DPFRAOPRT': '74. Total Operating and Other Revenue Per Pupil:',
 'DPFRASTAP': '75. Total Operating Revenue (2017-18):',
 'DZRVLOCP': '76. Operating Revenue % State:',
 'DPFRAFEDP': '77. Operating Revenue % Local and Other:',
 'DPFRAORVT': '78. Operating Revenue % Federal:',
 'DPFUNAB1T': '79. Total Other Revenue (2017-18):',
 'DPFUNA4T': '80. Fund Balance (For ISDs):',
 'DPFEAALLT': '81. Net Assets (Charter Schools):',
 'DPFEAOPFT': '82. Total Actual Expenditures (2017-18): ',
 'DPFEAOPFK': '83. Total Actual Operating Expenditures (2017-18):',
 'DPFEAINSP': '84. Total Actual Operating Expenditures Per Pupil:',
 'DZEXADMP': '85. Expenditure % Instructional:',
 'DZEXADSP': '86. Expenditure % Central Administrative: ',
 'DZEXPLAP': '87. Expenditure % School Leadership:',
 'DZEXOTHP': '88. Expenditure % Plant Services: ',
 'DPFEAINST': '89. Expenditure % Other Operating:',
 'DPFEAINSK': '90. Total Actual Instructional Expenditures (2017-2018):',
 'DPFPAREGP': '91. Total Actual Instructional Expenditures Per Pupil:',
 'DPFPASPEP': '92. Expenditures % Basic Education Services: ',
 'DPFPACOMP': '93. Expenditures % Special Education:',
 'DPFPABILP': '94. Expenditures % State Compensatory Education:',
 'DPFPAVOCP': '95. Expenditures % Bilingual/ESL Education:',
 'DPFPAGIFP': '96. Expenditures % Career and Technical Education:',
 'DPFPAATHP': '97. Expenditures % Gifted and Talented Education:',
 'DPFPAHSAP': '98. Expenditures % Athletics/Related Activities:',
 'DPFPREKP': '99. Expenditures % High School Allotment:',
 'DPFPAOTHP': '100. Expenditures % Prekindergarten:',
 'DISTSIZE': '101. Expenditures % Un-Allocated:',
 'COMMTYPE': 'DISTSIZE',
 'PROPWLTH': 'COMMTYPE',
 'TAXRATE': 'PROPWLTH'}

In [29]:
renamecolumns['DZCNTYNM'] = 'District Num'

In [30]:
readablesnapshot = snapshot2019.rename(renamecolumns, axis=1)

In [31]:
readablesnapshot.head()

,DISTNAME,DISTNAME,District Num,DZCNTYNM,REGION,DZRATING,DZCAMPUS,total students,4. Students % African American:,5. Students % Hispanic:,...,95. Expenditures % Bilingual/ESL Education:,96. Expenditures % Career and Technical Education:,97. Expenditures % Gifted and Talented Education:,98. Expenditures % Athletics/Related Activities:,99. Expenditures % High School Allotment:,100. Expenditures % Prekindergarten:,101. Expenditures % Un-Allocated:,DISTSIZE,COMMTYPE,PROPWLTH
0,CAYUGA ISD,1902,001 ANDERSON,7,A,3,564,3.5,6.7,84.8,...,2.8,0.1,3.6,0.6,0.3,20.8,500 to 999,Rural,"$442,675 to < $456,961",Under $1.1701
1,ELKHART ISD,1903,001 ANDERSON,7,A,5,1254,5.4,11.3,78.1,...,7.8,0.1,3.4,1,0,25.7,"1,000 to 1,599",Non-metropolitan Stable,"$164,221 to < $208,918",$1.3050 to under $1.4272
2,FRANKSTON ISD,1904,001 ANDERSON,7,B,3,803,8.2,8.2,78.2,...,6.9,0.1,7.3,1,1.1,28.2,500 to 999,Rural,"$272,534 to < $299,260",$1.4272 and over
3,NECHES ISD,1906,001 ANDERSON,7,A,2,366,8.5,13.9,73.2,...,4,0.3,0,1.2,0.5,35.1,Under 500,Rural,"$272,534 to < $299,260",$1.4272 and over
4,PALESTINE ISD,1907,001 ANDERSON,7,B,6,3389,26.6,41.2,27.5,...,3.9,0.2,3.4,0.7,2.1,28.3,"3,000 to 4,999",Independent Town,"$299,260 to < $316,695",$1.4272 and over

In [ ]:
#Let's see how many missing values there are by column. Missing values are noted here with a '.'
#

In [27]:
readablesnapshot.iloc[:10,10]

0    0.0
1    0.6
2    0.6
3    0.3
4    0.1
5    0.8
6    0.2
7    0.5
8    0.0
9    0.7
Name: 6. Students % White:, dtype: float64