In [1]:
#reinstalling everything
#!pip install numpy

In [2]:
#pip install sklearn

In [21]:
#imports
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [4]:
#loading data
wrangled_snapshot = pd.read_csv('wrangled_snapshot.csv')
df = pd.read_csv('snapshot_sig_features.csv')

In [5]:
wrangled_snapshot.head()

,Unnamed: 0,DISTNAME,DISTRICT #,DZCNTYNM,REGION,DZRATING,DZCAMPUS,total students,4. Students % African American:,5. Students % Hispanic:,...,100. Expenditures % Prekindergarten:,101. Expenditures % Un-Allocated:,DISTSIZE,COMMTYPE,afrdiff,hispdiff,whidiff,asndiff,pacdiff,Racial Dif Stu/Tea
0,0,CAYUGA ISD,1902,001 ANDERSON,7,A,3,564,3.5,6.7,...,0.3,20.8,500 to 999,Rural,0,0,0,0,0,3.63125
1,1,ELKHART ISD,1903,001 ANDERSON,7,A,5,1254,5.4,11.3,...,0.0,25.7,"1,000 to 1,599",Non-metropolitan Stable,0,0,0,0,0,7.40625
2,2,FRANKSTON ISD,1904,001 ANDERSON,7,B,3,803,8.2,8.2,...,1.1,28.2,500 to 999,Rural,0,0,0,0,0,2.98750
3,3,NECHES ISD,1906,001 ANDERSON,7,A,2,366,8.5,13.9,...,0.5,35.1,Under 500,Rural,0,0,0,0,0,10.83750
4,4,PALESTINE ISD,1907,001 ANDERSON,7,B,6,3389,26.6,41.2,...,2.1,28.3,"3,000 to 4,999",Independent Town,0,0,0,0,0,23.65000

In [6]:
#There are a couple of categorical features I dropped earlier because I didn't know how to one hot encode them.
#I'll add them now

df['DISTSIZE'] = wrangled_snapshot['DISTSIZE']
df['COMMTYPE'] = wrangled_snapshot['COMMTYPE']

In [7]:
df.head()

,DISTNAME,5. Students % Hispanic:,6. Students % White:,8. Students % Asian:,11. Students % Economically Disadvantaged:,16. Students % Gifted and Talented Education:,17. Attendance Rate (2017-18):,18. Annual Dropout Rate Gr. 9-12 (2017-18):,47. Staff % Teachers:,54. Staff % Minority:,57. Teacher % With 5 or Fewer Years of Experience:,60. Teacher Turnover Rate:,78. Operating Revenue % Federal:,92. Expenditures % Basic Education Services:,94. Expenditures % State Compensatory Education:,Racial Dif Stu/Tea,target,DISTSIZE,COMMTYPE
0,CAYUGA ISD,6.7,84.8,0.5,42.6,8.5,96.5,0.0,51.0,14.1,11.8,7.8,19.3,32.0,3.1,3.63125,61.0,500 to 999,Rural
1,ELKHART ISD,11.3,78.1,0.3,58.1,3.6,96.4,0.0,57.2,10.5,15.1,11.7,6.9,46.2,6.6,7.40625,56.0,"1,000 to 1,599",Non-metropolitan Stable
2,FRANKSTON ISD,8.2,78.2,1.0,53.7,8.8,95.4,0.4,49.7,13.3,32.5,30.5,7.0,40.1,7.6,2.98750,53.0,500 to 999,Rural
3,NECHES ISD,13.9,73.2,0.0,47.8,6.0,95.9,0.9,52.4,12.5,26.9,14.4,8.4,36.7,10.2,10.83750,52.0,Under 500,Rural
4,PALESTINE ISD,41.2,27.5,0.9,74.9,2.9,95.3,0.0,51.7,28.5,34.3,26.1,18.3,46.6,8.1,23.65000,42.0,"3,000 to 4,999",Independent Town

In [8]:
df = pd.get_dummies(df.drop(columns=['DISTNAME']))
df.head()

,5. Students % Hispanic:,6. Students % White:,8. Students % Asian:,11. Students % Economically Disadvantaged:,16. Students % Gifted and Talented Education:,17. Attendance Rate (2017-18):,18. Annual Dropout Rate Gr. 9-12 (2017-18):,47. Staff % Teachers:,54. Staff % Minority:,57. Teacher % With 5 or Fewer Years of Experience:,...,DISTSIZE_Under 500,COMMTYPE_Charters,COMMTYPE_Independent Town,COMMTYPE_Major Suburban,COMMTYPE_Major Urban,COMMTYPE_Non-metropolitan Fast Growing,COMMTYPE_Non-metropolitan Stable,COMMTYPE_Other Central City,COMMTYPE_Other Central City Suburban,COMMTYPE_Rural
0,6.7,84.8,0.5,42.6,8.5,96.5,0.0,51.0,14.1,11.8,...,0,0,0,0,0,0,0,0,0,1
1,11.3,78.1,0.3,58.1,3.6,96.4,0.0,57.2,10.5,15.1,...,0,0,0,0,0,0,1,0,0,0
2,8.2,78.2,1.0,53.7,8.8,95.4,0.4,49.7,13.3,32.5,...,0,0,0,0,0,0,0,0,0,1
3,13.9,73.2,0.0,47.8,6.0,95.9,0.9,52.4,12.5,26.9,...,1,0,0,0,0,0,0,0,0,1
4,41.2,27.5,0.9,74.9,2.9,95.3,0.0,51.7,28.5,34.3,...,0,0,1,0,0,0,0,0,0,0

In [9]:
df.iloc[:,:17].describe()

,5. Students % Hispanic:,6. Students % White:,8. Students % Asian:,11. Students % Economically Disadvantaged:,16. Students % Gifted and Talented Education:,17. Attendance Rate (2017-18):,18. Annual Dropout Rate Gr. 9-12 (2017-18):,47. Staff % Teachers:,54. Staff % Minority:,57. Teacher % With 5 or Fewer Years of Experience:,60. Teacher Turnover Rate:,78. Operating Revenue % Federal:,92. Expenditures % Basic Education Services:,94. Expenditures % State Compensatory Education:,Racial Dif Stu/Tea,target,"DISTSIZE_1,000 to 1,599"
count,1065.000000,1065.000000,1065.000000,1065.000000,1065.000000,1065.000000,1065.000000,1065.000000,1065.000000,1065.000000,1065.000000,1065.000000,1065.000000,1065.000000,1065.000000,1065.000000,1065.000000
mean,42.030516,46.188732,1.382629,60.516901,5.800376,95.420000,0.889355,51.836375,31.554362,34.211782,20.769525,10.168732,41.335775,9.085728,14.998549,46.130516,0.136150
std,27.008433,26.977675,3.962577,19.765145,3.437142,1.680227,2.103651,6.335444,25.523187,14.397047,9.968907,5.225869,7.359501,4.438587,7.858205,12.098082,0.343109
min,1.800000,0.000000,0.000000,0.000000,0.000000,76.400000,0.000000,25.300000,0.000000,0.000000,0.000000,0.500000,4.200000,0.000000,0.350000,0.000000,0.000000
25%,19.600000,23.400000,0.100000,48.400000,3.700000,95.000000,0.000000,47.600000,12.300000,24.700000,14.100000,6.600000,37.100000,6.200000,8.806250,38.000000,0.000000
50%,36.300000,47.800000,0.400000,61.800000,5.600000,95.700000,0.400000,51.600000,22.900000,32.100000,18.800000,9.500000,41.300000,8.700000,14.200000,46.000000,0.000000
75%,60.400000,70.100000,0.900000,74.600000,7.700000,96.200000,1.100000,55.300000,43.200000,40.700000,25.100000,13.000000,45.200000,11.100000,20.481250,53.000000,0.000000
max,100.000000,94.600000,55.400000,100.000000,24.100000,100.000000,37.000000,87.200000,99.300000,100.000000,67.500000,49.800000,77.500000,55.700000,40.368750,88.000000,1.000000

In [10]:
#All of my data except for Racial Dif Stu/Tea are based on percents. Even that was created using percentage data though
# As a reminder it was computed by mean(abs(race%teacher - race%student)) That being said I'm not sure the data needs 
# to be scaled. I'll run standard scaler on it as an experiment and save it as a scaled csv to see if it performs any
#better
names = df.iloc[:,:16].columns
# Making a Scaler object
scaler = StandardScaler()
# Fitting data to the scaler object
scaled_df = scaler.fit_transform(df.iloc[:,:16])
scaled_df = pd.DataFrame(scaled_df, columns=names) 
scaled_df.head()

,5. Students % Hispanic:,6. Students % White:,8. Students % Asian:,11. Students % Economically Disadvantaged:,16. Students % Gifted and Talented Education:,17. Attendance Rate (2017-18):,18. Annual Dropout Rate Gr. 9-12 (2017-18):,47. Staff % Teachers:,54. Staff % Minority:,57. Teacher % With 5 or Fewer Years of Experience:,60. Teacher Turnover Rate:,78. Operating Revenue % Federal:,92. Expenditures % Basic Education Services:,94. Expenditures % State Compensatory Education:,Racial Dif Stu/Tea,target
0,-1.308744,1.431903,-0.222846,-0.906916,0.785796,0.643072,-0.422966,-0.132077,-0.684184,-1.557424,-1.301609,1.748141,-1.269130,-1.349200,-1.447231,1.229655
1,-1.138346,1.183433,-0.273342,-0.122338,-0.640477,0.583529,-0.422966,0.847004,-0.825299,-1.328103,-0.910209,-0.625785,0.661255,-0.560290,-0.966616,0.816172
2,-1.253179,1.187141,-0.096606,-0.345057,0.873119,-0.011909,-0.232731,-0.337368,-0.715543,-0.118954,0.976541,-0.606640,-0.167994,-0.334887,-1.529190,0.568083
3,-1.042035,1.001716,-0.349086,-0.643703,0.058106,0.285810,0.005063,0.089006,-0.746902,-0.508105,-0.639239,-0.338616,-0.630199,0.251160,-0.529765,0.485386
4,-0.030765,-0.693074,-0.121854,0.728042,-0.844230,-0.071452,-0.422966,-0.021536,-0.119726,0.006130,0.534961,1.556696,0.715633,-0.222186,1.101462,-0.341580

In [11]:
dfdums = df.iloc[:, 16:].head()

In [12]:
scaled_df = scaled_df.join(dfdums)
scaled_df.columns

Index(['5. Students % Hispanic: ', '6. Students % White:',
       '8. Students % Asian:', '11. Students % Economically Disadvantaged:',
       '16. Students % Gifted and Talented Education:',
       '17. Attendance Rate (2017-18):',
       '18. Annual Dropout Rate Gr. 9-12 (2017-18):', '47. Staff % Teachers:',
       '54. Staff % Minority:',
       '57. Teacher % With 5 or Fewer Years of Experience: ',
       '60. Teacher Turnover Rate:', '78. Operating Revenue % Federal:',
       '92. Expenditures % Basic Education Services: ',
       '94. Expenditures % State Compensatory Education:',
       'Racial Dif Stu/Tea', 'target', 'DISTSIZE_1,000 to 1,599',
       'DISTSIZE_1,600 to 2,999', 'DISTSIZE_10,000 to 24,999',
       'DISTSIZE_25,000 to 49,999', 'DISTSIZE_3,000 to 4,999',
       'DISTSIZE_5,000 to 9,999', 'DISTSIZE_50,000 and over',
       'DISTSIZE_500 to 999', 'DISTSIZE_Under 500', 'COMMTYPE_Charters',
       'COMMTYPE_Independent Town', 'COMMTYPE_Major Suburban',
       'COMMTYPE_Major Urban', 'COMMTYPE_Non-metropolitan Fast Growing',
       'COMMTYPE_Non-metropolitan Stable', 'COMMTYPE_Other Central City',
       'COMMTYPE_Other Central City Suburban', 'COMMTYPE_Rural'],
      dtype='object')

In [13]:
#Now this dataset was created using what I concidered to be the most significant features of the dataset. But since 
#I've recently learned about automatic feature engineering I'm also going to scale my whole dataset (which has already been
#cleaned up) to see if that system is able to see something in it I didn't. 
largedf = wrangled_snapshot.drop(columns=['DISTNAME', 'DISTRICT #',
 'REGION',
 'DZRATING',
 'DZCAMPUS',
'72. Locally Adopted Tax Rate (2017 Tax Year):', 
'afrdiff',
 'hispdiff',
 'whidiff',
 'asndiff',
 'pacdiff', 'DZCNTYNM' ])
largedf.iloc[:, 90:].dtypes

91. Total Actual Instructional Expenditures Per Pupil:    float64
92. Expenditures % Basic Education Services:              float64
93. Expenditures % Special Education:                     float64
94. Expenditures % State Compensatory Education:          float64
95. Expenditures % Bilingual/ESL Education:               float64
96. Expenditures % Career and Technical Education:        float64
97. Expenditures % Gifted and Talented Education:         float64
98. Expenditures % Athletics/Related Activities:          float64
99. Expenditures % High School Allotment:                 float64
100. Expenditures % Prekindergarten:                      float64
101. Expenditures % Un-Allocated:                         float64
DISTSIZE                                                   object
COMMTYPE                                                   object
Racial Dif Stu/Tea                                        float64
dtype: object

In [14]:
largedfo = largedf[['DISTSIZE', 'COMMTYPE']]
slargedf = largedf.drop(columns = ['DISTSIZE', 'COMMTYPE'])

In [15]:
lnames = [slargedf.columns]
lscaler = StandardScaler()
# Fitting data to the scaler object
largescaled_df = lscaler.fit_transform(slargedf)
largescaled_df = pd.DataFrame(scaled_df, columns=lnames) 
largescaled_df.head()

,Unnamed: 0,total students,4. Students % African American:,5. Students % Hispanic:,6. Students % White:,7. Students % American Indian:,8. Students % Asian:,9. Students % Pacific Islander:,10. Students % Two or More Races:,11. Students % Economically Disadvantaged:,...,93. Expenditures % Special Education:,94. Expenditures % State Compensatory Education:,95. Expenditures % Bilingual/ESL Education:,96. Expenditures % Career and Technical Education:,97. Expenditures % Gifted and Talented Education:,98. Expenditures % Athletics/Related Activities:,99. Expenditures % High School Allotment:,100. Expenditures % Prekindergarten:,101. Expenditures % Un-Allocated:,Racial Dif Stu/Tea
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
largedf.iloc[:,40:60].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1065 entries, 0 to 1064
Data columns (total 20 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   38. SAT/ACT Results - % Tested (2017-2018):                  1065 non-null   float64
 1   39. SAT/ACT Results - % At or Above Criterion (2017-2018):   1065 non-null   float64
 2   42. Total Staff FTE:                                         1065 non-null   float64
 3   43. Total Teacher FTE:                                       1065 non-null   float64
 4   44. Staff % Central Administration:                          1065 non-null   float64
 5   45. Staff % Campus Administration:                           1065 non-null   float64
 6   46. Staff % Professional Support:                            1065 non-null   float64
 7   47. Staff % Teachers:                                        1065 non-null   float64
 8   48. Staff % Educational Aides:                               1065 non-null   float64
 9   49. Staff % Auxiliary:                                       1065 non-null   float64
 10  50. Average Central Administrative Salary:                   1065 non-null   float64
 11  51. Average Campus Administrative Salary:                    1065 non-null   float64
 12  52. Average Professional Support Staff Salary:               1065 non-null   float64
 13  53. Average Teacher Salary:                                  1065 non-null   float64
 14  54. Staff % Minority:                                        1065 non-null   float64
 15  55. Number of Students Per Total Staff:                      1065 non-null   float64
 16  56. Number of Students Per Teacher:                          1065 non-null   float64
 17  57. Teacher % With 5 or Fewer Years of Experience:           1065 non-null   float64
 18  58. Teacher Average Years of Experience:                     1065 non-null   float64
 19  59. Teacher % With Advanced Degrees:                         1065 non-null   float64
dtypes: float64(20)
memory usage: 166.5 KB

In [17]:
largedf[slargedf.notnull()]

,Unnamed: 0,total students,4. Students % African American:,5. Students % Hispanic:,6. Students % White:,7. Students % American Indian:,8. Students % Asian:,9. Students % Pacific Islander:,10. Students % Two or More Races:,11. Students % Economically Disadvantaged:,...,95. Expenditures % Bilingual/ESL Education:,96. Expenditures % Career and Technical Education:,97. Expenditures % Gifted and Talented Education:,98. Expenditures % Athletics/Related Activities:,99. Expenditures % High School Allotment:,100. Expenditures % Prekindergarten:,101. Expenditures % Un-Allocated:,DISTSIZE,COMMTYPE,Racial Dif Stu/Tea
0,0,564,3.5,6.7,84.8,0.0,0.5,0.0,4.4,42.6,...,0.1,2.8,0.1,3.6,0.6,0.3,20.8,NaN,NaN,3.63125
1,1,1254,5.4,11.3,78.1,0.6,0.3,0.2,4.1,58.1,...,0.0,7.8,0.1,3.4,1.0,0.0,25.7,NaN,NaN,7.40625
2,2,803,8.2,8.2,78.2,0.6,1.0,0.0,3.7,53.7,...,0.0,6.9,0.1,7.3,1.0,1.1,28.2,NaN,NaN,2.98750
3,3,366,8.5,13.9,73.2,0.3,0.0,0.0,4.1,47.8,...,0.1,4.0,0.3,0.0,1.2,0.5,35.1,NaN,NaN,10.83750
4,4,3389,26.6,41.2,27.5,0.1,0.9,0.1,3.6,74.9,...,0.6,3.9,0.2,3.4,0.7,2.1,28.3,NaN,NaN,23.65000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1060,1196,205,0.0,21.0,77.1,0.0,0.0,0.0,2.0,62.4,...,0.4,6.9,0.5,3.9,1.5,0.0,27.3,NaN,NaN,8.42500
1061,1197,677,2.2,39.0,54.7,0.4,0.6,0.1,3.0,68.4,...,0.2,4.7,0.2,3.6,0.9,1.1,23.7,NaN,NaN,20.15625
1062,1198,3509,0.0,99.1,0.7,0.0,0.1,0.0,0.1,84.8,...,1.3,3.2,0.2,2.7,0.4,1.2,27.6,NaN,NaN,2.21875
1063,1199,1923,0.6,98.3,0.4,0.4,0.2,0.0,0.1,84.3,...,0.4,3.2,0.5,3.2,0.6,0.7,30.2,NaN,NaN,2.03750
1064,1200,503,0.0,97.4,2.6,0.0,0.0,0.0,0.0,83.3,...,0.1,4.1,0.0,5.0,1.0,3.3,29.0,NaN,NaN,13.00000

In [22]:
#I don't understand why standard scaler isn't working on the larger dataset. It keeps producing null values, but I'm not 
#missing any values. I will save this for now and instead split my smaller dataset. 

X = scaled_df['target']
y = scaled_df.drop(columns=['target'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

In [ ]:
#Does my data set have any categorical data, such as Gender or day of the week? 
#Answer: Yes  with the features DISTSIZE and COMMTYPE

In [24]:
scaled_df.iloc[:,:16].describe()

,5. Students % Hispanic:,6. Students % White:,8. Students % Asian:,11. Students % Economically Disadvantaged:,16. Students % Gifted and Talented Education:,17. Attendance Rate (2017-18):,18. Annual Dropout Rate Gr. 9-12 (2017-18):,47. Staff % Teachers:,54. Staff % Minority:,57. Teacher % With 5 or Fewer Years of Experience:,60. Teacher Turnover Rate:,78. Operating Revenue % Federal:,92. Expenditures % Basic Education Services:,94. Expenditures % State Compensatory Education:,Racial Dif Stu/Tea,target
count,1.065000e+03,1.065000e+03,1.065000e+03,1.065000e+03,1.065000e+03,1.065000e+03,1.065000e+03,1.065000e+03,1.065000e+03,1.065000e+03,1.065000e+03,1.065000e+03,1.065000e+03,1.065000e+03,1.065000e+03,1.065000e+03
mean,8.006115e-17,-4.003058e-17,4.670234e-17,-1.367711e-16,3.002293e-17,-1.004100e-15,1.334353e-17,3.869622e-16,6.671763e-17,-2.401835e-16,9.507262e-17,-3.035652e-16,-3.669470e-16,1.768017e-16,-5.837792e-17,8.339703e-17
std,1.000470e+00,1.000470e+00,1.000470e+00,1.000470e+00,1.000470e+00,1.000470e+00,1.000470e+00,1.000470e+00,1.000470e+00,1.000470e+00,1.000470e+00,1.000470e+00,1.000470e+00,1.000470e+00,1.000470e+00,1.000470e+00
min,-1.490254e+00,-1.712914e+00,-3.490856e-01,-3.063237e+00,-1.688350e+00,-1.132522e+01,-4.229660e-01,-4.190526e+00,-1.236883e+00,-2.377422e+00,-2.084409e+00,-1.851037e+00,-5.048334e+00,-2.047948e+00,-1.864984e+00,-3.814835e+00
25%,-8.308907e-01,-8.451225e-01,-3.238376e-01,-6.133319e-01,-6.113690e-01,-2.500837e-01,-4.229660e-01,-6.689926e-01,-7.547415e-01,-6.609863e-01,-6.693470e-01,-6.832182e-01,-5.758222e-01,-6.504510e-01,-7.883744e-01,-6.723658e-01
50%,-2.122748e-01,5.975402e-02,-2.480938e-01,6.494773e-02,-5.832453e-02,1.667225e-01,-2.327310e-01,-3.732744e-02,-3.392377e-01,-1.467505e-01,-1.976596e-01,-1.280259e-01,-4.863299e-03,-8.694409e-02,-1.016675e-01,-1.079326e-02
75%,6.804584e-01,8.867518e-01,-1.218540e-01,7.128566e-01,5.529352e-01,4.644412e-01,1.001801e-01,5.469628e-01,4.564912e-01,4.508749e-01,4.346023e-01,5.420338e-01,5.253129e-01,4.540225e-01,6.980318e-01,5.680827e-01
max,2.147356e+00,1.795337e+00,1.363828e+01,1.998551e+00,5.326582e+00,2.727103e+00,1.717377e+01,5.584492e+00,2.655525e+00,4.571710e+00,4.689825e+00,7.587233e+00,4.916259e+00,1.050699e+01,3.230015e+00,3.462462e+00

In [25]:
scaled_df.iloc[:,16:].describe()

,"DISTSIZE_1,000 to 1,599","DISTSIZE_1,600 to 2,999","DISTSIZE_10,000 to 24,999","DISTSIZE_25,000 to 49,999","DISTSIZE_3,000 to 4,999","DISTSIZE_5,000 to 9,999","DISTSIZE_50,000 and over",DISTSIZE_500 to 999,DISTSIZE_Under 500,COMMTYPE_Charters,COMMTYPE_Independent Town,COMMTYPE_Major Suburban,COMMTYPE_Major Urban,COMMTYPE_Non-metropolitan Fast Growing,COMMTYPE_Non-metropolitan Stable,COMMTYPE_Other Central City,COMMTYPE_Other Central City Suburban,COMMTYPE_Rural
count,5.000000,5.0,5.0,5.0,5.000000,5.0,5.0,5.000000,5.000000,5.0,5.000000,5.0,5.0,5.0,5.000000,5.0,5.0,5.000000
mean,0.200000,0.0,0.0,0.0,0.200000,0.0,0.0,0.400000,0.200000,0.0,0.200000,0.0,0.0,0.0,0.200000,0.0,0.0,0.600000
std,0.447214,0.0,0.0,0.0,0.447214,0.0,0.0,0.547723,0.447214,0.0,0.447214,0.0,0.0,0.0,0.447214,0.0,0.0,0.547723
min,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
25%,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
50%,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,1.000000
75%,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,1.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,1.000000
max,1.000000,0.0,0.0,0.0,1.000000,0.0,0.0,1.000000,1.000000,0.0,1.000000,0.0,0.0,0.0,1.000000,0.0,0.0,1.000000

In [ ]:
#Do my features have data values that range from 0 - 100 or 0-1 or both and more? 
#Answer: my scaled data ranges from -5 to 5 and from 0-1. Is this a problem?

In [26]:
df.to_csv('unscaledsnap.csv')
scaled_df.to_csv('scaledsnap.csv')